/* 
 comment - html, body에 css는 추가를 하지 않습니다.
           html, body에 스타일을 넣는경우 백 그라운드 이미지 or 색상을 넣는 경우를
           제외 사용을 하지 않습니다.
html {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height:100dvh;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 800px;
  height:100dvh;

}
*/

.All_Box {
  width: 800px;
  height: 100vh;
  margin: 0 auto;
  border: 1px solid #000;
}

footer {
  height: 20%;
  width: 800px;
  position: fixed;
  bottom: 0;
}

.Footer-Container {
  height: 100%;
  border: 1px solid #888;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.Footer_Top {
  height: 20%;
  display: flex;
  justify-content: space-around;
  border: 1px solid #888;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.Footer_Top_left {
  display: flex;
  align-items: center;
  flex: 3.5;
  margin-left: 10px;
}

.Footer_Top_left div {
  margin-left: 10px;
  margin-right: 15px;
}

.Footer_Top_Right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 2;

}

.Footer_Info_Box {
  height: 60%;
  display: flex;
  flex-direction: column;
  border: 1px solid #888;
  overflow-y: scroll;
}

.Footer_Info_Box table {
  width: 100%;
  table-layout: fixed;
}
.Footer_Info_Box th, .Footer_Info_Box td {
  border: 1px solid #ddd;
  padding: 8px;
}
.Footer_Info_Box th {
  background-color: #f2f2f2;
  position: sticky;
  top: 0;
  z-index: 1;
}
.col-menu {
  width: 60%;
}
.col-quantity {
  width: 20%;
  text-align: center;
}
.quantity-con{
  display: flex; 
  align-items: center; 
  justify-content: space-around;
}
.col-price {
  width: 20%;
  text-align: center;
}
.price-con{
  display: flex; 
  align-items: center; 
  justify-content: space-around;
}

.quantity-PlusMino {
  width: 30px;
  height: 30px;
  background-color: red;
  border-radius: 5px;
  color: #fff;
  align-content: center;
  cursor: pointer;
}

.price-Del {
  width: 30px;
  height: 30px;
  background-color: #888;
  border-radius: 5px;
  color: #fff;
  align-content: center;
  cursor: pointer;
}

.Footer_Under {
  height: 20%;
  display: flex;
  justify-content: space-around;
  border: 1px solid #000;
  align-items: center;
}


.PlusButton {
  width: 8%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  margin: 5px;
  background-color: #888;
}

.PlusButton a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.CouponButton {
  width: 36%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  border-radius: 30px;
  font: #fff;
  margin: 5px;
}

.CouponButton a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #fff;
}

.DelButton {
  width: 20%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: 1px solid #000;
  margin: 5px;
}

.DelButton a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.OrderButton {
  width: 36%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: red;
  margin: 5px;
}

.OrderButton a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #fff;
}

.menu-name {
  margin-left: 10px;
}
.menu-option {
  margin-left: 20px;
}